<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="by.zloy.rcp"
         point="org.eclipse.core.runtime.applications">
      <application thread="main" cardinality="singleton-global" visible="true">
         <run
               class="by.zloy.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="productByZloyID"
         point="org.eclipse.core.runtime.products">
      <product
            application="by.zloy.rcp.application"
            name="Reader2Kindle">
         <property
               name="appName"
               value="Reader2Kindle">
         </property>
         <property
               name="windowImages"
               value="icons/logo-16-16.png,icons/logo-32-32.png,icons/logo-48-48.png,icons/logo-64-64.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="by.zloy.rcp.perspective.Perspective"
            id="by.zloy.rcp.Perspective.ID"
            name="mainPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="by.zloy.rcp.view.ReaderSettingsView"
            icon="icons/logo-16-16.png"
            id="by.zloy.rcp.view.ReaderSettingsView.ID"
            name="Reader"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="by.zloy.rcp.view.ApplicationSettingsView"
            icon="icons/settings-16-16.png"
            id="by.zloy.rcp.view.ApplicationSettingsView.ID"
            name="Application Settings"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="by.zloy.rcp.view.LogView"
            icon="icons/logging-16-16.png"
            id="by.zloy.rcp.view.LogView.ID"
            name="Log"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="by.zloy.rcp.command.AddView"
            id="by.zloy.rcp.command.addView"
            name="addView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:by.zloy.rcp.view.ReaderSettingsView.ID">
         <command
               commandId="by.zloy.rcp.command.addView"
               icon="icons/add-16-16.png"
               label="Add View"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="SettingsID"
               label="Configuration">
            <command
                  commandId="by.zloy.rcp.command.addView"
                  icon="icons/add-16-16.png"
                  label="Add View"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="by.zloy.rcp.RapApplication"
            id="by.zloy.rcp.rap"
            parameter="default">
      </entrypoint>
   </extension>

</plugin>
